In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv("dat1.csv")
data1.head()

,name,email,address,phone,company
0,Alan Joseph,neque@mus.com,Ap #782-3403 Amet Rd.,16120828 6987,Ornare In Associates
1,Wang Holden,sapien.Cras.dolor@amet.net,246-2445 Eu St.,16690726 7519,Id Libero Donec LLC
2,Lucius Orr,Donec.nibh.Quisque@aliquam.com,"P.O. Box 946, 1400 Non, St.",16550722 3971,Ornare Libero Industries
3,Imani Montgomery,elit@rutrumnonhendrerit.ca,"P.O. Box 255, 8347 Odio, Road",16021223 5865,Et Libero Limited
4,Thane V. Campos,sagittis.Duis@velitPellentesqueultricies.co.uk,Ap #775-9847 Consectetuer Av.,16480730 0563,Consectetuer Limited

In [9]:
names = []
names.extend(data1.name.values.tolist())

In [8]:
type(data1.name.values.tolist())

list

In [11]:
len(names)

100

In [12]:
data2 = pd.read_csv("dat2.csv")
data2.head()

,name,email,address,phone,company
0,Katelyn,purus.mauris.a@tempusscelerisquelorem.ca,"Ap #101-437 Tincidunt, Ave",16690324 1252,Felis Industries
1,Erasmus,pharetra.felis@elit.net,"P.O. Box 455, 7812 Pellentesque Ave",16740612 5323,Justo Nec Corporation
2,Marny,ac.libero@ridiculusmus.edu,915-1392 Quam. Avenue,16360211 4591,Vitae PC
3,Lucius,mattis.velit@magna.org,Ap #234-9156 Sed Ave,16641118 2535,Congue In Scelerisque Incorporated
4,Angelica,non.justo.Proin@sitametornare.ca,6502 Et Avenue,16260721 6245,Fringilla Incorporated

In [14]:
names.extend(data2.name.values.tolist())
len(names)

200

In [16]:
emails = data2.email.values.tolist()
emails.extend(data2.email.values.tolist())
len(emails)

200

In [17]:
phon_address = data1.address.values.tolist()
phon_address.extend(data2.address.values.tolist())
phon_address.extend(data1.phone.values.tolist())
phon_address.extend(data2.phone.values.tolist())
len(phon_address)

400

In [20]:
with open("card_corpa.txt", "w") as f:
    print(*names, sep="\n", file=f)
    print(*emails, sep="\n", file=f)
    print(*phon_address, sep="\n", file=f)